.container{
	width:700px;
	margin: 105px auto;
}

.container p{
	text-align: justify;
}

@media(max-width:720px){
	.container{
		width:600px;
	}
}

@media(max-width:599px){
	.container{
	width:400px;
	}
}
